[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
accuweather = "*"
requests = "*"
python-decouple = "*"
djangorestframework = "*"
django-cors-headers = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.9"
